<!--this template is going to be the exact
same base.html and this can override any blocks
that defined inside of base.html-->
{% extends "base.html"%}
<!--we can override any block
for example below-->
{% block title %}
Login
{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Login</h3>
    <div class="from=grop">
        <label for="email">Email Address</label>
        <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
        />
    </div>
    <div class="from=grop">
        <label for="password">Password</label>
        <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter password"
        />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}